<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>Welcome to Twitter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/mainPage.css" />
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
</head>
    <body>
    	<div id="container">
    		<div id="header">
    			<img id="header-logo" src="" alt="" />
			<p id="language"></p>
    		</div>
    		<div id="main">
    			<div id="flag">
    				<div id="top">
    					<div id="txt">
    						<h1>Welcome to Twitter</h1>
    						<p>
    							Connect with your friends --- and other fascinating
    							people. Get in-the-moment updatas on the things
    							that interest you. And watch events unfold, in real
    							time, from every angle.
    						</p>
    					</div>
                                                    <div id="form">
                                                        <div id="form1">
                                                            <form action="/login/" method="post">{% csrf_token %}
                                                                <ul>
                                                                    <li>
                                                                        <input class="username" type="text" name="username" placeholder="username" size="15" />
                                                                    </li>
                                                                    <li>
                                                                        <input  class="passwd" type="password" name="passwd" size="15" placeholder="password" />
                                                                        <input type="submit" value="Log in" size="15" />
                                                                    </li>
                                                                    <li>
                                                                        <p id="despRem">
                                                                            <input id="remember" type="checkbox" name="remember" checked="checked" />
                                                                            Remember me
                                                                            <a href="#">Forgot password?</a>
                                                                        </p>
                                                                    </li>
                                                                </ul>
                                                            </form>
                                                        </div>
                                                        <div id="form2">
                                                            <form action="/addUser/" method="post">{% csrf_token %}
                                                                <div id="title">
                                                                    New to Twitter? Sign up
                                                                </div>
                                                                <div>
                                                                        <ul>
                                                                            <li>
                                                                                <input class="username" type="text" name="fullname" placeholder="full name" size="15" />
                                                                            </li>
                                                                            <li>
                                                                                <input class="username" type="text" name="email" placeholder="uername" size="15" />
                                                                            </li>
                                                                            <li>
                                                                                <input class="username" type="password" name="passwd" placeholder="password" size="15" />
                                                                            </li>
                                                                            <li>
                                                                                <input id="signup" type="submit" value="Sign up for Twitter" size="15" />
                                                                            </li>
                                                                        </ul>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
    				</div>
    				<div id="bottom">
    				</div>
    			</div>
    		</div>
    	</div>
    </body>
</html>