<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>Compose new Tweet</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<script>
        addLoadEvent(al);
        function al(){
            var temp=window.dialogArguments;
            var user=document.getElementById("user");
            user.setAttribute("value",temp);
        }
        function addLoadEvent(func){
            var oldonload=window.onload;
            if(typeof window.onload!='function'){
                window.onload=func;
            }else{
                window.onload=function(){
                    oldonload();
                    func();
                }
            }
        }
</script>
</head>
    <body>
    	<div id="container">
    		<div id="header">
    			<p>Compose new Tweet: </p>
    		</div>
    		<div id="main">
    			<form action="/postTweet/" method="POST">{% csrf_token %}
    				<ul>

                                                    <li>
                                                              <input id="user" type="hidden" name="username" value="" />
                                                    </li>
    					<li>
    						<textarea name="textArea" id="textArea" cols="50" rows="5"></textarea>
    					</li>
    					<li>
    						<input type="submit" value="Tweet" size="16" />
    					</li>
    				</ul>
    			</form>
    		</div>
    	</div>
    </body>
</html>