<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>Twitter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/userpage.css" />
<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<!-- <script type="text/javascript" src="scripts/popform.js"></script> -->
<script>
	function popForm(){
		window.showModalDialog("tweet/","{{user}}","")
	}
          window.onload=displayFollowing;
          function displayFollowing(){
            var user_list={{keys|safe}};
            // var contents[]=user_list.split(",",user_list.length);
            var follow1=document.getElementById("setName1");
            var follow2=document.getElementById("setName2");
            var follow3=document.getElementById("setName3");
            var follows=Array(follow1,follow2,follow3);
            var username1=document.getElementById("username1");
            var followname1=document.getElementById("followname1");
            var username2=document.getElementById("username2");
            var followname2=document.getElementById("followname2");
            var username3=document.getElementById("username3");
            var followname3=document.getElementById("followname3");
            var usernames=Array(username1,username2,username3);
            var follownames=Array(followname1,followname2,followname3);
           for(var i=0;i<user_list.length;i++){
                follows[i].lastChild.nodeValue=user_list[i];
                usernames[i].setAttribute("value",'{{user}}');
                follownames[i].setAttribute("value",user_list[i]);
            }

            for(var i=0;i<{{contentlist|safe}}.length;i++){
                var node=document.createElement("p");
                node.style.height="80px";
                node.style.border="1px solid red";
                var nodeup=document.createElement("up");
                nodeup.style.height="20px";
                nodeup.style.border="1px solid red";
                nodeup.style.display="block";
                var nodedown=document.createElement("down");
                nodedown.style.height="60px";
                nodedown.style.border="1px solid blue";
                nodedown.style.display="block";
                var nodeLeft=document.createElement("left");
                nodeLeft.style.height="60px";
                nodeLeft.style.width="100px";
                nodeLeft.style.background="blue";
                nodeLeft.style.display="block";
                nodeLeft.style.float="left";
                var nodeRight=document.createElement("right");
                nodeRight.style.width="480px";
                nodeRight.style.height="60px";
                nodeRight.style.background="orange";
                nodeRight.style.display="block";
                nodeRight.style.float="left";
                var node1=document.createElement("node1");
                node1.style.height="30%";
                node1.style.background="green";
                node1.style.display="block";
                var txt1=document.createTextNode({{userlist|safe}}[i]);
                var node2=document.createElement("node2");
                node2.style.height="70%";
                node2.style.background="yellow";
                node2.style.display="block";
                var txt2=document.createTextNode({{contentlist|safe}}[i]);
                node.appendChild(nodeup);
                nodedown.appendChild(nodeLeft);
                node1.appendChild(txt1);
                nodeRight.appendChild(node1);
                node2.appendChild(txt2);
                nodeRight.appendChild(node2);
                nodedown.appendChild(nodeRight);
                node.appendChild(nodedown);
                var node_middle=document.getElementById("middle");
                node_middle.appendChild(node);
            }
          }
</script>
</head>
    <body>
    	<div id="container">
    		<div id="header">
                                <div id="formSearch">
                                    <form action="/searchfollowing/" method="post" >{% csrf_token %}
                                        <input type="text" name="tweetField" placeholder="Search Twitter" id="search" />
                                        <Button type="submit" name="searchTwitter" value="" id="submitButton" />
                                    </form>
                                </div>
    			<img id="popform" src="/css/tweetButton.jpg" target="_blank" alt="button" onclick="popForm()" />
    			<!-- <input id="popform" type="button" value="Tweet" /> -->
    		</div>
    		<div id="main">
    			<div id="left">
    				<div id="left-up">
    					<div id="left-up1"></div>
    					<div id="left-up2">
                                                            <p id="username">{{user}}</p>
                                                            <div id="tweets-number" title="{{ct}} TWEETS">
                                                                <!-- link to my Tweets page -->
                                                                <a id="to-my-tweets" href="/userTweets/?={{user}}" value="{{user}}" />
                                                                    <ul>
                                                                        <li>TWEETS</li>
                                                                        <li>{{ct}}</li>
                                                                    </ul>
                                                                </a>
                                                            </div>
                                                            <div>
                                                                <ul>
                                                                    <li>FOLLOWING</li>
                                                                    <!-- add followings -->
                                                                    <li></li>
                                                                </ul>
                                                            </div>
                                                    </div>
    				</div>
    				<div id="left-down"></div>
    			</div>
    			<div id="middle">
                                        <div id="middle-up">
                                            <div class="followings" id="follow1">
                                                <p id="setName1">void</p>
                                                <form action="/addFollowing/" method="POST">{% csrf_token %}
                                                    <input id="username1" type="hidden" name="username" value="" />
                                                    <input id="followname1" type="hidden" name="followname" value="" />
                                                    <input type="submit" value="Follow" />
                                                </form>
                                            </div>
                                            <div class="followings" id="follow2">
                                                 <p id="setName2">void</p>
                                                 <form action="/addFollowing/" method="POST">{% csrf_token %}
                                                    <input id="username2" type="hidden" name="username" value="" />
                                                    <input id="followname2" type="hidden" name="followname" value="" />
                                                    <input type="submit" value="Follow" />
                                                </form>
                                            </div>
                                            <div class="followings" id="follow3">
                                                 <p id="setName3">void</p>
                                                 <form action="/addFollowing/" method="POST">{% csrf_token %}
                                                    <input id="username3" type="hidden" name="username" value="" />
                                                    <input id="followname3" type="hidden" name="followname" value="" />
                                                    <input type="submit" value="Follow" />
                                                </form>
                                            </div>
                                        </div>
                                        <div id="middle-down"></div>
    			</div>
    			<div id="right"></div>
    		</div>
    	</div>
    </body>
</html>